*jobs/
databases/
test_grid
test_data
myvenv/
*results/
logs/
*.csv
*.fai
*.nhr
*.nin
*.nog
*.nsd
*.nsi
*.nsq
databases/*
blast_dbs/
hisat/
subread-1.6.1-source/
gene_expression/data/
sample_expression_matrix.csv
